<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Time to Pratice - Vue.js</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <!-- 
  1) Create a <div> and take control with a Vue Instance
  2) Output an array of hobbies in this <div> (provide some default hobbies)
  3) Add a 'New Hobby' button + <input> field where you add the hobby the user entered to the list
  4) Make the hobbies clickable to remove them once clicked
  5) Add a <p>Hobby deleted!</p> which is only shown once at least one hobby was deleted (be creative on how to track this!)
  6) Add a hobby counter (<p>Hobbies: ...</p>) above the list of hobbies
  7) Dynamically style/ add classes to the hobby counter, depending on whether you have more or less than 3 hobbies
  8) Outsource your hobbies (the <li> elements) into a re-usable component
-->

    <input type="text" v-model="newHobby">
    <button v-on:click="addHobby(newHobby)">New Hobby</button>
    <p v-bind:class="{teste: hobbies.length != 4}"> Hobbies: {{ hobbies.length }}</p>


    <ul>
      <!--
      <li 
        v-for="hobby in hobbies"
        v-on:click="removeHobby(hobby)"
        >{{ hobby }}</li>
        -->
        <app-hobby 
        v-for="hby in hobbies"
        v-bind:hobby="hby"
        v-on:hobbyremoved="removeHobby($event)"
        ></app-hobby>
    </ul>

    <p v-if="deleted == true">Hobby deleted!</p>

  </div>
  <script src="app.js"></script>
</body>

</html>