<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Getting Started</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="app">

      <input type="text" v-model="userInput">
      <button v-on:click="addTodo">Add Todo</button>

      <ul>
        <li v-for="todo in todos" v-on:click="removeTodo(todo)">{{ todo.value }}</li>
      </ul>

    </div>
    <script src="index.js" charset="utf-8"></script>
  </body>
</html>